body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .profile-image {
    display: block;
    margin-right: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  
  .name {
    font-size: 45px;
    font-weight: bold;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2px;
    margin-left: 5px;
  }
  
  .designation {
    font-size: 16px;
    margin-bottom: 8px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 70%;
  }
  
  .location{
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    opacity: 80%;
  }
  .bio {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .links {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .links a {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #e9e8e8;
    color: #1f1f1f;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .links a:hover {
    background-color: #00bcd4;
  }
  
  
  .social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .social-link {
    margin-right: 10px;
    font-size: 25px;
    color: #333;
  }
  
  .social-link:hover {
    color: #00bcd4;
  }
  
  /* Media queries */
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
      align-items: center;
      justify-content: center;
    }
  
    .profile-image {
      width: 200px;
      height: 200px;
      margin: 0 0 12px 0;
      
    }
  
    .name {
      font-size: 30px;
      margin-left: 0;
      text-align: center;
    }
  
    .designation {
      font-size: 14px;
      margin-left: 0;
      text-align: center;
    }
    .location{
        text-align: center;
    }
  
    .bio {
      margin-left: 0;
      text-align: center;
    }
  .links{
    justify-content: center;
  }
    .social-links {
      margin-left: 0;
      align-items: center;
      justify-content: center;
    }
  
    .social-link {
      font-size: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 10px;
      align-items: center;
    }
  
    .profile-image {
      width: 150px;
      height: 150px;
      align-items: center;
    }
  
    .name {
      font-size: 24px;
      text-align: center;
    }
  
    .designation {
      font-size: 12px;
      text-align: center;
    }
  
    .bio {
      font-size: 12px;
      text-align: center;
    }
  
    .social-links {
      font-size: 16px;
      align-items: center;
    }
  }
  